.cta-btn {
  background-color: #109fd0;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #109fd0;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.white-cta {
  background-color: white;
  color: #109fd0;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid white;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.heading h4 {
  flex: 1;
  font-size: 24px;
  font-weight: 600;
  color: #109fd0;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.5px;
}
.heading h1 {
  flex: 2;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  color: #1A1A1A;
  margin: 0;
}

.title {
  position: relative;
  max-width: 610px;
}
.title p {
  font-size: 20px;
  color: #1A1A1A;
  margin: 0;
  text-transform: capitalize;
}
.title h1 {
  font-size: 60px;
  font-weight: 500;
  color: #109fd0;
  margin: 0;
}
.title .img-container {
  position: absolute;
  right: -50px;
  top: -30px;
  width: 120px;
  height: 120px;
}

.bread-crumbs {
  margin: 20px 0;
}
.bread-crumbs a {
  font-size: 16px;
  color: #6D6D6D;
}
@media screen and (max-width: 768px) {
  .bread-crumbs a {
    font-size: 14px;
  }
}
.bread-crumbs p {
  font-size: 16px;
  color: #6D6D6D;
  font-weight: 500;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .bread-crumbs p {
    font-size: 14px;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 1400px) {
  .flex-container {
    gap: 60px;
  }
}
@media screen and (max-width: 900px) {
  .flex-container {
    flex-direction: column;
    gap: 20px;
  }
}
.flex-container .content-side {
  flex: 1;
}
.flex-container .content-side .sub-heading {
  font-size: 14px;
  font-weight: 600;
  color: #109fd0;
  margin: 0;
}
.flex-container .content-side h2 {
  font-size: 40px;
  margin: 10px 0;
  line-height: 120%;
  font-weight: 600;
  color: #1A1A1A;
}
@media screen and (max-width: 768px) {
  .flex-container .content-side h2 {
    font-size: 32px;
  }
}
.flex-container .content-side p {
  font-size: 1rem;
  color: #1A1A1A;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .flex-container .content-side p {
    font-size: 14px;
  }
}
.flex-container .content-side ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 14px;
  column-gap: 20px;
  margin: 20px 0 0;
  padding: 0;
  max-width: fit-content;
}
.flex-container .content-side ul li {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 1rem;
  color: #1A1A1A;
}
.flex-container .content-side ul li .icon-container {
  margin-top: 3px;
}
.flex-container .content-side ul li .icon-container img {
  width: 20px;
  height: 20px;
}
.flex-container .content-side ul li p {
  color: #1A1A1A;
}
.flex-container .content-side ul li p strong {
  font-weight: 600;
  color: #109fd0;
}
.flex-container .content-side .cta-btn {
  margin-top: 30px;
}
.flex-container .img-side {
  flex: 1;
}
.flex-container .img-side .img-container {
  max-width: 450px;
}

.generic-card {
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .generic-card {
    padding: 14px;
  }
}
.generic-card:hover {
  border-color: transparent;
  transform: scale(1.01) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.generic-card .icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: linear-gradient(79.25deg, #3B1B31 -4.96%, #66195A 98.94%);
  border-radius: 12px;
}
.generic-card .gif-container {
  width: 50px;
  height: 50px;
}
.generic-card h3 {
  font-size: 20px;
  font-weight: 500;
  color: #109fd0;
  margin: 15px 0 5px;
}
@media screen and (max-width: 768px) {
  .generic-card h3 {
    font-size: 16px;
  }
}
.generic-card p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.generic-card a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  color: #109fd0;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(261.29deg, rgba(16, 159, 208, 0.4) -40.04%, rgba(2, 85, 146, 0.4) 100%);
}
.banner .banner-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.banner .container {
  margin-left: unset !important;
  margin-right: unset !important;
}
.banner .container .banner-content {
  max-width: 1000px;
  padding: 20px 0;
  position: relative;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .banner .container .banner-content {
    padding: 20px;
  }
}
.banner .container .banner-content h1 {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  line-height: 1.2;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 1500px) {
  .banner .container .banner-content h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .banner .container .banner-content h1 {
    font-size: 40px;
  }
}
.banner .container .banner-content p {
  font-size: 20px;
  margin: 0;
}
@media screen and (max-width: 1500px) {
  .banner .container .banner-content p {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .banner .container .banner-content p {
    font-size: 16px;
  }
}
.banner .container .banner-content .cta-btn {
  margin-top: 30px;
}

.faq-section .faq-container {
  width: 100%;
  margin: 0 auto;
}
.faq-section .faq-item {
  border-bottom: 1px solid #C6C6C6;
  margin-bottom: 10px;
}
.faq-section .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  font-weight: 400;
  padding: 20px 0;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .faq-section .faq-question {
    padding-bottom: 0px;
  }
}
.faq-section .faq-question .question {
  font-size: 28px;
  font-weight: 300;
  color: #1A1A1A;
}
.faq-section .faq-answer {
  overflow: hidden;
  font-weight: 400;
}
.faq-section .faq-answer .description {
  margin: 10px 0;
  line-height: 32px;
  font-size: 14px;
  color: #6D6D6D;
}

.faq-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .faq-container {
    flex-direction: column;
    gap: 80px;
  }
}
.faq-container .faqs {
  flex: 1;
  max-width: 800px;
}
.faq-container .faqs .faq-title {
  margin-bottom: 10px;
}
.faq-container .faqs .faq-title h4 {
  font-size: 36px;
  font-weight: 500;
  margin: 10px 0;
  color: #1A1A1A;
}
@media screen and (max-width: 768px) {
  .faq-container .faqs .faq-title h4 {
    font-size: 24px;
  }
}
.faq-container .faqs .faq-title p {
  font-size: 16px;
  margin: 0;
  color: #6D6D6D;
}
@media screen and (max-width: 768px) {
  .faq-container .faqs .faq-title p {
    font-size: 14px;
  }
}
.faq-container .faqs .orange-cta {
  margin-top: 20px;
}
.faq-container .img-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
}
.faq-container .img-container img {
  max-width: 500px;
}
.faq-container .img-container .icon {
  position: absolute;
  top: -10px;
  left: 40px;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-width: 768px) {
  .faq-container .img-container .icon {
    width: 60px;
    height: 60px;
    padding: 7px;
  }
}

.faq-chips {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}
.faq-chips button {
  background-color: transparent;
  border: 1px solid #C6C6C6;
  color: #1A1A1A;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
}
.faq-chips .active {
  border: 1px solid #109fd0;
  background-color: #109fd0;
  color: white;
}

.frequent-que-container .faqs {
  max-width: 90%;
}
.frequent-que-container .faqs .faq-category {
  margin-bottom: 80px;
}
.frequent-que-container .faqs .faq-category h2 {
  font-size: 24px;
  margin: 0px;
  font-weight: 500;
  color: #109fd0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .frequent-que-container .faqs .faq-category h2 {
    font-size: 20px;
  }
}
.frequent-que-container .faqs .faq-category ul {
  flex: 1;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}